/**
 * Global live chat room.
 * Block of code adapted from Youtube tutorials.
 * 
 * @author Web Dev Simplified
 * @see https://www.youtube.com/watch?v=ZKEqqIO7n-k
 * @see https://www.youtube.com/watch?v=rxzOqP9YwmM
 * @author Traversy Media
 * @see https://www.youtube.com/watch?v=jD7FnbI76Hg
 */

:root {
    --dark-color-a: #000000;
    --dark-color-b: #272728;
    --light-color: #e0e3f4;
    --success-color: #65ce65;
    --error-color: #df3832;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    padding: 5px 15px;
    background: var(--light-color);
    color: var(--dark-color-a);
    border: 0;
    font-size: 17px;
    border-radius: 4px;
}

.join-container {
    max-width: 500px;
    margin: auto;
    color: #fff;
}

.join-header {
    text-align: center;
    padding: 20px;
    background: var(--dark-color-a);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.join-main {
    padding: 30px 40px;
    background: var(--dark-color-b);
    margin-top: 50%;
    margin-bottom: 50%;
    border-radius: 10px;
    margin-left: 1em;
    margin-right: 1em;
}

.join-main p {
    margin-bottom: 20px;
}

.join-main .form-control {
    margin-bottom: 20px;
}

.join-main label {
    display: block;
    margin-bottom: 5px;
}

.join-main input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
    border-radius: 3px;
}

.join-main input[type='email'] {
    font-size: 16px;
    border-radius: 3px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main select {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    width: 100%;
}

.join-main .btn {
    margin-top: 20px;
    width: 100%;
    border: none;
}