.content {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: 0.5em;
    padding-top: 10vmax;
    padding-bottom: 10vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    text-align: left;
    margin-bottom: 2vh;
    display: grid;
    grid-template-rows: 20% 15% 25% 20% 10% 10%;
    grid-template-columns: 40% 60%;
    font-size: 3vh;
    padding-bottom: 0.5em;
}

#user_table {
    text-align: center;
}

.card .name {
    grid-column: 2;
    grid-row: 1;
}

.card .age {
    grid-column: 2;
    grid-row: 2;
}

.card .img {
    grid-column: 1;
    grid-row: 1 / span 2;
}

img {
    width: 30vw;
    height: 30vw;
}

.card .bio {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.card .hobbies {
    grid-column: 1 / span 2;
    grid-row: 4;
}

.card .distance {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.card .button {
    grid-column: 2;
    grid-row: 6;
    vertical-align: bottom;
    text-align: right;
}

.head {
    color: blue;
    text-decoration: underline;
}

.card p {
    margin: 0;
    padding-left: 2vh;
    padding-top: 2vh;
}

.card input {
    margin-left: 2vh;
    margin-top: 2vh;
    width: 250px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 3vh;
}


.card span {
    position: relative;
    top: 25%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}


.avatar {
    filter: brightness(60%);
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.avatar:hover {
    filter: brightness(100%);
}

a {
    text-decoration: none;
    color: black;
}

#footerPlaceholder {
    grid-row: 3;
}

@media only screen and (min-width: 500px) {

    .card{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}