body {
    text-align: center;
}

.content {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.5em;
    text-align: center;
    height: 100vh;
}

#score {
    background-color: rgb(34, 159, 255);
    padding: 0px auto;
    justify-content: center;
    border: 2px transparent;
    border-radius: 5px;
    padding: 2%;
    color: white;
    margin: 2%;
    font-size: 120%;
}

#answers {
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(2, auto);
    margin: 1%;
}

.btn {
    background-color: rgb(22, 154, 255);
    border: 2px none;
    border-radius: 5px;
    color: rgb(235, 235, 235);
    padding: 10px;
    font-size: 150%;
    margin: 1vh;
}

.btn.success {
    background-color: rgb(0, 206, 38);
}

.btn.incorrect {
    background-color: #ff3e29;

}

.btn:hover {
    background-color: rgb(79, 179, 255);
}

.hidden {
    display: none;
}

@media only screen and (min-width: 1025px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0.5em;
        margin: 0.5em;
        height: 100%;
        margin: 2em;
    }
}