.content {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    margin: 0.5em;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.card span {
    position: relative;
    top: 25%;
    font-size: 9vh;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.can {
    padding: 2px 16px;
    border-radius: 10px;
    position: relative;
    top: 15%;
    font-size: 6.5vmin;
}

.avatar {
    filter: brightness(60%);
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.avatar:hover {
    filter: brightness(100%);
}

@media only screen and (min-width: 1025px) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 1em;
        margin: 0.5em;
        height: 100%;
        margin: 2em;
    }
    .card{
        height: 75%;
    }
}