.option {
    background-color: rgb(22, 154, 255);
    border: 2px none;
    border-radius: 5px;
    color: rgb(235, 235, 235);
    font-size: 1.5em;
    padding: 0.5em;
}

input {
    width: 250px;
    margin: 1vh;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 2vh;
}

.form-control {
    border: 2px solid rgb(92, 165, 255);
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* grid */

#content {
    display: grid;
    justify-content: center;
    grid-template-areas:
        "user-avatar"
        "upload-images-form"
        "edit-user-form"
        "submit-form";
    grid-template-rows: 35% 18% 30% auto; 
}

#user-avatar {
    grid-area: user-avatar;
    margin-top: 0.5em;
}

#upload-images-form {
    grid-area: upload-images-form;
    text-align: center;
    margin: auto;
}

.edit-user-form {
    display: grid;
    gap: 0px 0px;
    grid-template-areas:
        "f1 firstNameInput"
        "f2 lastNameInput"
        "f3 emailInput"
        "f4 passwordInput";
    justify-content: center;
    align-items: center;
    grid-area: edit-user-form;
}

#f1 {
    grid-area: f1;
}

#f2 {
    grid-area: f2;
}

#f3 {
    grid-area: f3;
}

#f4 {
    grid-area: f4;
}

#firstNameInput {
    grid-area: firstNameInput;
}

#lastNameInput {
    grid-area: lastNameInput;
}

#emailInput {
    grid-area: emailInput;
}

#passwordInput {
    grid-area: passwordInput;
}

#submit-form {
    grid-area: submit-form;
    display: block;
    margin: auto;
}